/*------------------------------------*\
  # Footer
\*------------------------------------*/

.footer {
  padding: 4rem 0;
  font-size: $fs-md;
  color: $clr-gray;
}

.footer__info {
  visibility: hidden;

  @media (min-width: 720px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__social {
  margin-top: 3.2rem;
}

.footer__highlight {
  font-weight: $fw-bold;
  color: $clr-danger;
}

.footer__link {
  @include link-reset;
  @include link($clr-primary, darken($clr-primary, 15%));
  font-weight: $fw-bold;
}
