/* Proza Libre */

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/400/Proza-Libre-400.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/400/Proza-Libre-400.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/400/Proza-Libre-400.woff2')
      format('woff2'),
    /* Modern Browsers */ url('../Proza-Libre/400/Proza-Libre-400.woff')
      format('woff'),
    /* Modern Browsers */ url('../Proza-Libre/400/Proza-Libre-400.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../Proza-Libre/400/Proza-Libre-400.svg')
      format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Proza-Libre/400-italic/Proza-Libre-400-Italic.svg') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/500/Proza-Libre-500.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/500/Proza-Libre-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/500/Proza-Libre-500.woff2')
      format('woff2'),
    /* Modern Browsers */ url('../Proza-Libre/500/Proza-Libre-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../Proza-Libre/500/Proza-Libre-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../Proza-Libre/500/Proza-Libre-500.svg')
      format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Proza-Libre/500-italic/Proza-Libre-500-Italic.svg') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/600/Proza-Libre-600.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/600/Proza-Libre-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/600/Proza-Libre-600.woff2')
      format('woff2'),
    /* Modern Browsers */ url('../Proza-Libre/600/Proza-Libre-600.woff')
      format('woff'),
    /* Modern Browsers */ url('../Proza-Libre/600/Proza-Libre-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../Proza-Libre/600/Proza-Libre-600.svg')
      format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Proza-Libre/600-italic/Proza-Libre-600-Italic.svg') format('svg'); /* Legacy iOS */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/700/Proza-Libre-700.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/700/Proza-Libre-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/700/Proza-Libre-700.woff2')
      format('woff2'),
    /* Modern Browsers */ url('../Proza-Libre/700/Proza-Libre-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../Proza-Libre/700/Proza-Libre-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../Proza-Libre/700/Proza-Libre-700.svg')
      format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Proza-Libre/700-italic/Proza-Libre-700-Italic.svg') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/800/Proza-Libre-800.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/800/Proza-Libre-800.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/800/Proza-Libre-800.woff2')
      format('woff2'),
    /* Modern Browsers */ url('../Proza-Libre/800/Proza-Libre-800.woff')
      format('woff'),
    /* Modern Browsers */ url('../Proza-Libre/800/Proza-Libre-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../Proza-Libre/800/Proza-Libre-800.svg')
      format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proza Libre';
  src: url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.eot'); /* IE9 Compat Modes */
  src: url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.woff2')
      format('woff2'),
    /* Modern Browsers */
      url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../Proza-Libre/800-italic/Proza-Libre-800-Italic.svg') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: italic;
}
