/*------------------------------------*\
    # Variables
\*------------------------------------*/

// Font Family
$ff-base: 'Poppins', sans-serif;
$ff-mainpost-heading: 'Lora', serif;
$ff-mainpost-base: 'Source Sans Pro', sans-serif;

// Font Weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$fw-extra-black: 950;

// Font Size
$fs-xxl: 2.2rem;
$fs-xl: 2rem;
$fs-lg: 1.8rem;
$fs-md: 1.6rem;
$fs-sm: 1.4rem;
$fs-xs: 1.2rem;

// Colors
$clr-primary: #2fe6a3;
$clr-primary-dk: #2f5d58;
$clr-secondary: #2c2f3e;
$clr-secondary-off: #282b37;
$clr-secondary-off-dk: #292c3b;

// Other colors
$clr-input: #242732;
$clr-light: #fff;
// $clr-dark: #2c2f3e;
$clr-base: #caccdb;
$clr-danger: #e62f5b;
// $clr-success: #333;
$clr-nav: #292c3c;

// Border Radius
$border-radius: 0.6rem;

// Transition
$transition: 0.25s ease-in-out;
