/*------------------------------------*\
# Variables
\*------------------------------------*/

// Font Family
$ff-heading: 'Proza Libre', sans-serif;
$ff-base: 'Open Sans', sans-serif;

// Font Weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$fw-extra-black: 950;

// Font Size
$fs-xxl: 2.2rem;
$fs-xl: 2rem;
$fs-lg: 1.8rem;
$fs-md: 1.6rem;
$fs-sm: 1.4rem;
$fs-xs: 1.2rem;

// Colors
$clr-primary: #418ef4;

// Other colors
$clr-base: #e0e8f2;
$clr-base-dk: darken($clr-base, 15%);
$clr-base-dkr: darken($clr-base, 25%);

$clr-input: $clr-base;
$clr-light: #fff;
$clr-off-light: #ebeef2;
$clr-dark: #000004;

$clr-gray: #74747b;
$clr-lightgray: #efeff7;

$clr-danger: #d7263d;
$clr-success: #7ddf64;

// Border Radius
$border-radius: 0.6rem;

// Transition
$transition: 0.25s ease-in-out;
