/*------------------------------------*\
  # Buttons
\*------------------------------------*/

.button {
  @include button;
}

.button--sm {
  @include button-sm;
}

.button--primary {
  color: $clr-light;
  background: $clr-primary;

  &:hover,
  &:focus {
    background: $clr-light;
    color: $clr-dark;
    border-color: $clr-light;
  }
}

.button--outline-primary {
  color: $clr-light;
  border-color: $clr-light;

  &:hover,
  &:focus {
    color: $clr-primary;
    border-color: $clr-primary;
  }
}

.button--link {
  @include link($clr-light, $clr-primary);
}
