/*------------------------------------*\
  # Form
\*------------------------------------*/

.form__group {
  margin-bottom: 3.2rem;
}

.form__label {
  display: block;
  font-weight: $fw-bold;
}

.form__control {
  @include reset-appearance;
  display: block;
  width: 100%;
  padding: 1.6rem;
  margin-top: 0.8rem;
  font-family: $ff-base;
  color: $clr-gray;
  background: $clr-light;

  transition: all $transition;

  &:hover,
  &:focus {
    background: $clr-base;
  }
}

textarea.form__control {
  resize: vertical;
  min-height: 24rem;
  line-height: 2.5rem;

  @media (min-width: 720px) {
    min-height: 32rem;
  }

  @media (min-width: 1200px) {
    min-height: 40rem;
  }
}

.form__meta {
  text-align: right;
}

.form__layout {
  @media (min-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.4rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
