/*------------------------------------*\
  # Gallery
\*------------------------------------*/

.gallery {
  @media (min-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.4rem;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  position: relative;
  overflow: hidden;
  line-height: 1;
  background: $clr-light;
}

.gallery__image {
  height: 32rem;
  object-fit: cover;
  width: 100%;
  cursor: pointer;

  transition: all $transition;

  @media (min-width: 1024px) {
    height: 48rem;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.gallery__heading {
  margin: 0;
  padding: 1.6rem;
  text-transform: uppercase;
  font-weight: $fw-light;
  color: $clr-dark;

  &--highlight {
    font-weight: $fw-bold;
    color: $clr-primary;
  }
}
