/*------------------------------------*\
  # About
\*------------------------------------*/

.about {
  background: $clr-primary;
  color: $clr-light;
}

.about__overview {
  .card:not(:last-of-type) {
    margin-bottom: 3.2rem;
  }
}
