/*------------------------------------*\
  # Events
\*------------------------------------*/

.events {
  background: $clr-primary;
  color: $clr-light;
}

.events__gallery {
  margin-top: 5.6rem;

  .gallery__item:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}
