/*------------------------------------*\
  # Hero
\*------------------------------------*/

.hero__heading {
  visibility: hidden;
  font-family: $ff-heading;
  font-size: 4.6rem;
  line-height: 5.5rem;
  margin: 0;

  @media (min-width: 920px) {
    font-size: 6.2rem;
    line-height: 7.4rem;
  }
}

.hero__text {
  visibility: hidden;
  margin-top: 1.6rem;
  font-size: 2rem;
  line-height: 3.2rem;
  color: $clr-base;

  @media (min-width: 920px) {
    font-size: 2.3rem;
    line-height: 3.6rem;
  }

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.hero__meta {
  visibility: hidden;
  margin-top: 4.8rem;

  @media (min-width: 920px) {
    margin-top: 7.2rem;
  }

  .button:not(:last-of-type) {
    margin-right: 1.6rem;
  }
}
