/*------------------------------------*\
  # Quotes
\*------------------------------------*/

.quotes {
  position: relative;
  text-align: center;

  .container {
    @include grid-container($maxWidth: 1100px);
  }
}

.quotes__text {
  margin: 0;
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-style: italic;
  color: $clr-light;

  @media (min-width: 920px) {
    font-size: 3.2rem;
    line-height: 5.1rem;
  }

  footer {
    font-size: 1.8rem;
    color: $clr-base;

    @media (min-width: 920px) {
      font-size: 2rem;
    }
  }
}
